@import 'tailwindcss';

:root {
  --font-display: 'Tomorrow', sans-serif;

  /*--color-background: #DDD6C5;*/
  --color-background: #EAEAEA;
  --color-text: #222222;
  --color-accent1: #F1FA8C;
  --color-accent2: #457B9D;
  --color-accent3: #E63946;
  --color-white: #FAFAFA;
  --color-light-grey: #A8A8A8;
  --color-dark-grey: #6C6C6C;
}

/* Global styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-display);
}